# Node.js
node_modules/
.env
*.log
npm-debug.log*

# Firebase (clave antigua, precaución si la usas en desarrollo)
serviceAccountKey.json

# Vercel
.vercel/

# Logs
logs/

# Sistema (macOS y Windows)
.DS_Store
Thumbs.db
